* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
a,
span {
  font-weight: 300;
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (max-width: 1500px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 85%;
  }
}
